#root{
    width:80%;
    height:100%;
    margin:0 auto;
}

h2{
    margin:0;
    padding:0;
}

.article-section, .input{
    margin-top:2rem;
    margin-bottom:3rem;
}

.article-wrap{
    display:flex;
    .article-section{
        width:60%;
        .article{
            width:100%;
                h2{
                    font-size:1rem;    
                    color:#333;
                    font-weight:400;
                    margin-bottom:0.2rem;
                }
                img{
                    width:80%;
                }
                p{
                    font-weight:200;
                    color:#666;
                    width:100%;
                    font-size:0.8rem;
                }
        }
    }   
}
